trigger:
  - main

pool:
  vmImage: windows-2022

steps:
  - task: UseDotNet@2
    inputs:
      version: 8.x

  - script: dotnet restore
    displayName: Restore

  - script: dotnet build Tailspin.SpaceGame.Web/Tailspin.SpaceGame.Web.csproj -c Release --no-restore
    displayName: Build

  - script: dotnet publish Tailspin.SpaceGame.Web/Tailspin.SpaceGame.Web.csproj -c Release -o $(Build.ArtifactStagingDirectory)
    displayName: Publish

  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: $(Build.ArtifactStagingDirectory)
      ArtifactName: drop-v2
